body {
  font: 300 18px 'Open Sans';
  padding-bottom: 80px;
}
h1 {
  font: 300 48px 'Open Sans';
}
h2 {
  font: 300 32px 'Open Sans';
  margin-bottom: 40px;
}
.m {
  margin-top: 40px;
}
pre {
  background-color: #fff;
  border: 1px solid #cdcdcd;
  font-size: 12px;
  height: 250px;
  line-height: 0.8;
  overflow: auto;
  padding: 1em;
  text-align: left;
  white-space: pre-wrap;
}
.row .row {
  padding-left: 0;
  padding-right: 0;
}
.example {
  font-size: 15px;
  margin: 30px 0;
}
.example .row {
  text-align: center;
}
.example .row .col {
  padding: 45px 0;
  vertical-align: middle;
}
.example .row .col:nth-child(odd) {
  background-color: #cdcdcd;
}
.example .row .col:nth-child(even) {
  background-color: #909090;
}
