@media (min-width: 640px) {
  .container {
    display: block;
    margin: 0 auto;
    max-width: 1170px;
  }
  .container-fluid {
    display: block;
  }
  .row,
  .max-row {
    display: table;
    table-layout: fixed;
    width: 100%;
  }
  .col {
    display: table-cell;
  }
  .row {
    margin: 0 auto;
    max-width: 1170px;
  }
}
@media (max-width: 640px) {
  .row {
    padding-left: 10px;
    padding-right: 10px;
  }
  .col {
    text-align: center;
  }
}
@media (min-width: 640px) and (max-width: 1310px) {
  .container {
    padding-left: 10px;
    padding-right: 10px;
  }
}
